.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MyStyle{
  color:blue;



}
.redBg{
  background-color: rgba(84, 59, 59, 0.53);
}
.blueBg{
  background-color: blue;
}

img{
  width:200px;
  height:100px;
  border-radius: 300px;
  transition: transform 0.3s ease;
}
img:hover{
  transform: scale(1.2);
}
table{
  position: relative;
  
  
}
table:hover{
  background-color: gray;;
}
.padding{
  padding:100px;
}

